html,
body {
  height: 100%;
}

body {
  background-color: white;
}

.page-wrapper {
  height: auto;
  min-height: 100%;
}

.page-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  width: auto;
}
